In [1]:
import pandas as pd
from sklearn.ensemble import AdaBoostClassifier
from sklearn import metrics
from sklearn.model_selection import train_test_split
import warnings

warnings.filterwarnings("ignore")

In [2]:
dataset = pd.read_csv('kr-vs-kp.csv', header=0, sep=',')

In [3]:
dataset.head()

,f,f.1,f.2,f.3,f.4,f.5,f.6,f.7,f.8,f.9,...,f.23,f.24,f.25,f.26,f.27,f.28,t.2,t.3,n.1,won
0,f,f,f,f,t,f,f,f,f,f,...,f,f,f,f,f,f,t,t,n,won
1,f,f,f,f,t,f,t,f,f,f,...,f,f,f,f,f,f,t,t,n,won
2,f,f,f,f,f,f,f,f,t,f,...,f,f,f,f,f,f,t,t,n,won
3,f,f,f,f,f,f,f,f,f,f,...,f,f,f,f,f,f,t,t,n,won
4,f,f,f,f,f,f,f,f,f,f,...,f,f,t,f,f,f,t,t,n,won

In [4]:
dataset = dataset.dropna()
print (dataset.shape)

(3195, 37)

In [5]:
print(list(dataset.columns))

['f', 'f.1', 'f.2', 'f.3', 'f.4', 'f.5', 'f.6', 'f.7', 'f.8', 'f.9', 'f.10', 'f.11', 'l', 'f.12', 'n', 'f.13', 'f.14', 't', 'f.15', 'f.16', 'f.17', 'f.18', 'f.19', 'f.20', 'f.21', 't.1', 'f.22', 'f.23', 'f.24', 'f.25', 'f.26', 'f.27', 'f.28', 't.2', 't.3', 'n.1', 'won']

In [6]:
data = pd.get_dummies(dataset, columns = ['f', 'f.1', 'f.2', 'f.3', 'f.4', 'f.5', 'f.6',
                                          'f.7', 'f.8', 'f.9', 'f.10', 'f.11', 'l', 'f.12', 
                                          'n', 'f.13', 'f.14', 't', 'f.15', 'f.16', 'f.17', 
                                          'f.18', 'f.19', 'f.20', 'f.21', 't.1', 'f.22', 'f.23', 
                                          'f.24', 'f.25', 'f.26', 'f.27', 'f.28', 't.2', 't.3', 'n.1'])

In [7]:
data.head()

,won,f_f,f_t,f.1_f,f.1_t,f.2_f,f.2_t,f.3_f,f.3_t,f.4_f,...,f.27_f,f.27_t,f.28_f,f.28_t,t.2_f,t.2_t,t.3_f,t.3_t,n.1_n,n.1_t
0,won,1,0,1,0,1,0,1,0,0,...,1,0,1,0,0,1,0,1,1,0
1,won,1,0,1,0,1,0,1,0,0,...,1,0,1,0,0,1,0,1,1,0
2,won,1,0,1,0,1,0,1,0,1,...,1,0,1,0,0,1,0,1,1,0
3,won,1,0,1,0,1,0,1,0,1,...,1,0,1,0,0,1,0,1,1,0
4,won,1,0,1,0,1,0,1,0,1,...,1,0,1,0,0,1,0,1,1,0

In [8]:
data.columns

Index(['won', 'f_f', 'f_t', 'f.1_f', 'f.1_t', 'f.2_f', 'f.2_t', 'f.3_f',
       'f.3_t', 'f.4_f', 'f.4_t', 'f.5_f', 'f.5_t', 'f.6_f', 'f.6_t', 'f.7_f',
       'f.7_t', 'f.8_f', 'f.8_t', 'f.9_f', 'f.9_t', 'f.10_f', 'f.10_t',
       'f.11_f', 'f.11_t', 'l_g', 'l_l', 'f.12_f', 'f.12_t', 'n_b', 'n_n',
       'n_w', 'f.13_f', 'f.13_t', 'f.14_f', 'f.14_t', 't_f', 't_t', 'f.15_f',
       'f.15_t', 'f.16_f', 'f.16_t', 'f.17_f', 'f.17_t', 'f.18_f', 'f.18_t',
       'f.19_f', 'f.19_t', 'f.20_f', 'f.20_t', 'f.21_f', 'f.21_t', 't.1_f',
       't.1_t', 'f.22_f', 'f.22_t', 'f.23_f', 'f.23_t', 'f.24_f', 'f.24_t',
       'f.25_f', 'f.25_t', 'f.26_f', 'f.26_t', 'f.27_f', 'f.27_t', 'f.28_f',
       'f.28_t', 't.2_f', 't.2_t', 't.3_f', 't.3_t', 'n.1_n', 'n.1_t'],
      dtype='object')

In [9]:
X = data.iloc[:,1:]

In [10]:
X.head()

,f_f,f_t,f.1_f,f.1_t,f.2_f,f.2_t,f.3_f,f.3_t,f.4_f,f.4_t,...,f.27_f,f.27_t,f.28_f,f.28_t,t.2_f,t.2_t,t.3_f,t.3_t,n.1_n,n.1_t
0,1,0,1,0,1,0,1,0,0,1,...,1,0,1,0,0,1,0,1,1,0
1,1,0,1,0,1,0,1,0,0,1,...,1,0,1,0,0,1,0,1,1,0
2,1,0,1,0,1,0,1,0,1,0,...,1,0,1,0,0,1,0,1,1,0
3,1,0,1,0,1,0,1,0,1,0,...,1,0,1,0,0,1,0,1,1,0
4,1,0,1,0,1,0,1,0,1,0,...,1,0,1,0,0,1,0,1,1,0

In [11]:
Y = data.iloc[:,0]

In [12]:
Y.head()

0    won
1    won
2    won
3    won
4    won
Name: won, dtype: object

In [13]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=0)

In [14]:
boost = AdaBoostClassifier(n_estimators=50, learning_rate=1)
model = boost.fit(X_train, Y_train)
y_pred = model.predict(X_test)

In [15]:
print("Accuracy:",metrics.accuracy_score(Y_test, y_pred))

Accuracy: 0.9624608967674662

In [16]:
cnf_matrix = metrics.confusion_matrix(Y_test, y_pred)
print(cnf_matrix)

[[449  23]
 [ 13 474]]

In [17]:
print(metrics.classification_report(Y_test, y_pred))

              precision    recall  f1-score   support

       nowin       0.97      0.95      0.96       472
         won       0.95      0.97      0.96       487

    accuracy                           0.96       959
   macro avg       0.96      0.96      0.96       959
weighted avg       0.96      0.96      0.96       959